.herok {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgb(0 0 0 / 59%), rgb(0 0 0 / 43%)),
        url('../../assets/images/rreth.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.herok-text {
    text-align: center;
    max-width: 800px;
}

.herok-text h1 {
    font-size: 50px;
    font-weight: 500;
}

.herok-text p {
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.4;
}

@media (min-width: 1200px) {
    .herok-text h1 {
        font-size: 50px;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .herok-text p {
        font-size: 20px;
        line-height: 1.6;
        max-width: 850px;

    }
}

@media (min-width: 1600px) {
    .herok-text h1 {
        font-size: 72px;
    }

    .herok-text p {
        font-size: 22px;
        max-width: 900px;
    }
}