.about {
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    gap: 40px;
}

.about-left {
    flex-basis: 50%;
    position: relative;
}

.about-right {
    flex-basis: 50%;
}

.about-img {
    width: 100%;
    max-width: 500px;
    border-radius: 12px;
    display: block;
}

.about h3 {
    font-weight: 600;
    font-size: 16px;
    color: #111;
}

.about h2 {
    font-size: 35px;
    color: #3a3a3a;
    margin: 10px 0;
    max-width: 400px;
    font-weight: 700;
}

.about p {
    color: #555;
    margin-bottom: 15px;
    line-height: 1.6;
}


@media (max-width: 768px) {
    .about {
        flex-direction: column-reverse;
        text-align: center;
        gap: 20px;
    }

    .about-img {
        max-width: 100%;
    }

    .about-right h2 {
        font-size: 28px;
        margin: 10px auto;
    }

    .about p {
        font-size: 18px;
    }
}