.section1{
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 90%;
    gap: 40px;
}
.section1-left{
    flex-basis: 50%;
    position: relative;
}
.section1-right{
    margin-top: 100px;
    flex-basis: 50%;
}
.section1-img{
    width: 100%;
    max-width: 500px;
    border-radius: 12px;
    display: block;
}

.section1 h3{
    font-weight: 600;
    font-size: 26px;
    color: #111;
}

.section1 h2{
    font-size: 35px;
    color: #3a3a3a;
    margin: 10px 0;
    max-width: 400px;
    font-weight: 700;
}

.section1 p{
    color: #555;
    margin-bottom: 15px;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .section1{
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .section1-img{
        max-width: 100%;
    }
    
    .section1-right h2{
        font-size: 28px;
        margin: 10px auto;
    }
}